body{
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    Font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
}
.mutual-radius{
    border-radius: 5px;
}
.mutual-padding{
    padding: 30px;
}
.container-violet{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}
.container-gray{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
.container-white{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.container-black{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}
.container-white-second{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.main-container{
    display: grid;
    grid-template-rows: auto; 
    gap: 20px;
    padding: 20px;
    margin-top: 45px;
}
.title{
    font-weight: 600;
    margin-top: 20px;
}
.text{
    margin-top: 20px;
}
.status{
    color: hsl(0, 0%, 81%);
}
.profile ul{
    padding: 0;
	margin: 0;
	list-style: none; 
    display: flex;
}
.profile img{
    border-radius: 100px;
    margin-right: 10px;
    width: 35px;
}
.Verified-Graduate{
    border-color: hsl(263, 55%, 52%, 0.5);;
    border-width: 5px;
    border-style:groove;
}
.attribution{
    text-align: center;
    min-width: 300px;  
}
footer{
    padding-bottom: 20px;
}

