body{
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    Font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
}
.mutual-radius{
    border-radius: 5px;
}
.mutual-padding{
    padding: 40px;
}
.container-violet{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1; 
}
.container-violet .status{
    color: hsl(0, 0%, 100%, 0.5);
}
.container-violet .text{
    color: hsl(0, 0%, 100%, 0.7);
}
.container-gray{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
.container-gray .status{
    color: hsl(0, 0%, 100%, 0.5);
}
.container-gray .text{
    color: hsl(0, 0%, 100%, 0.7);
}
.container-white{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.container-white .status{
    color: hsl(217, 19%, 35%, 0.5);
}
.container-white .text{
    color: hsl(217, 19%, 35%, 0.7);
}
.container-black{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}
.container-black .status{
    color: hsl(0, 0%, 100%, 0.5);
}
.container-black .text{
    color: hsl(0, 0%, 100%, 0.7);
}
.main-container{
    display: grid;
    grid-template-rows: auto; 
    gap: 25px;
    padding: 25px;
    margin-top: 45px;
}
.name{
    font-weight: 600;
    font-size:medium;
}
.title{
    font-weight: 600;
    margin-top: 20px;
    font-size:x-large;
}
.text{
    margin-top: 20px;
    font-weight: 500;
}
.status{
    font-weight: 500;
}
.profile ul{
    padding: 0;
	margin: 0;
	list-style: none; 
    display: flex;
}
.profile img{
    border-radius: 100px;
    margin-right: 10px;
    width: 35px;
}
.Verified-status{
    border-color: hsl(264, 51%, 63%);
    border-width: 3px;
    border-style:solid;
}
.attribution{
    text-align: center;
    min-width: 300px;  
    font-size: 11px; 
}
.bg-quotation {
    position: absolute; /* Position the image absolutely within the container */
    right: 40px; /* Adjust the distance from the right */
    top: 0; /* Adjust the distance from the top */
    width: 140px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    opacity: 0.9;
    z-index: -1; /* Place the image behind other elements */
}
footer{
    padding-bottom: 20px;
}

